*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header style */
.header-section{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 14px gray;
    font-size: 22px;
}
.navigation{
    display: flex;
    gap: 20px;
}
.logo{
    color: indigo;
    font-weight: 900;
}
.btns,.btn{
    display: flex;
    gap: 20px;
transform: translateX(130px);
}

/* main section style */
.main-section{
    display: flex;
    margin: 30px;
    padding: 30px;
    align-items: center;
}
.image img{
    width: 300px;
    height: 300px;
    border-radius: 300px;
}
.content{
    width: 800px;
}
.content h1{
    font-size: 68px;
}
.content p{
    width: 600px;
    font-size: 24px;
    color: gray;
    text-align: center;
}
.content h1 span{
    color: indigo;
}

.content button{
    border: 2px solid indigo;
    padding: 10px;
    width: 150px;
    background-color: white;
    margin-top: 10px;
    justify-content: center;
    margin-left: 40px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.content button:hover{
    background-color: indigo;
    color: white;
     transition: all 0.3s ease;
}

/* Courses Style section */
.courses {
    display: flex;
    margin: 40px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* web */
.web {
    box-shadow: 2px 2px 14px gray;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 330px;
}
.web img{
    width: 300px;
}

.web .content-web{
    padding: 10px;
}


/* mobile */
.mobile {
    box-shadow: 2px 2px 14px gray;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 330px;
}
.mobile img{
    width: 300px;
}

.mobile .content-mobile{
    padding: 10px;
}

/* Devops */

.devops {
    box-shadow: 2px 2px 14px gray;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 330px;
}
.devops img{
    width: 300px;
}

.devops .content-devops{
    padding: 10px;
}

/* Gaming */
.gaming {
    box-shadow: 2px 2px 14px gray;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 330px;
}
.gaming img{
    width: 300px;
}

.gaming .content-gaming{
    padding: 10px;
}

.avator img{
    width: 50px;
}
.rq{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.flex-avator{
    display: flex;
    align-items: center;
    gap: 10px;
}
.devops img{
    height: 165px;
}
.gaming img{
    height: 165px;
}

.avator-web img{
    width: 40px;
    height: 40px;
    border-radius: 80px;
}

/* .avator-mobile img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
} */

.mobile img{
    height: 170px;
}

.avator-devops img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.avator-gaming img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.price{
    background-color: seagreen;
    padding: 3px;
    width: 20%;
    border-radius: 20px;
    text-align: center;
    color: white;

}
.courses-title{
    text-align: center;
    font-size: 33px;
    font-weight: 900;
    text-decoration: underline;
    color: indigo;
}

.footer{
    display: flex;
    padding: 20px;
    background-color: whitesmoke;
    justify-content: space-between;
    
}

.header, .toggle img{
    width: 50px;
    display: none;
}

/* responsive ui for header section */
/* 640px mobile */
/* 768px mobile+tablet */
/* 1024px desktop+flat screen */
@media (max-width:640px){
   .navigation{
    display: none;
   }
   .btns{
    display: none;
   }
   .logo{
    text-align: center;
    font-size: 33px;
   }
   .toggle img{
    display: block;
   }
   .main-section ,.content{
    width: 400px;
   }
   .main-section {
    display: flex;
    flex-direction: column-reverse;
   }
   .content p{
    width: 400px;
   }
   .content button{
    width: 100%;
    margin-left: 0px;
   }
   .btns,.toggle img{
    display: block;
   }
.btns{
    display: none;
}
.web, .mobile, .devops, .gaming{
    width: 100%;
}
.web img, .mobile img, .devops img, .gaming img{
    width: 100%;
    height: 200px;
}

}

@keyframes scalup{
    0%{
        scale: 1.05;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1.05;
    }
}

.image img:hover{
    animation-name: scalup;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes changeColor{
    0%{
        color: dodgerblue;
    }
    50%{
        color: indianred;
    }
    75%{
        color: dodgerblue;
    }
    100%{
        color: indianred;
    }
}

.title{
    animation-name: changeColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
